<html>
<head>
</head>

<body>

<h1>Magic Power Rankings</h1>
<div class="power-rankings">
	<p>1. Shane (3-0)</p>
	<p>2. Brendon (2-1)</p>
	<p>3. AJ (2-1)</p>
	<p>4. Will (2-1)</p>
	<p>5. Brayden (2-1)</p>
	<p>6. Dan S. (1-2)</p>
	<p>7. Ben H. (1-2)</p>
	<p>8. Sarah (0-3)</p>
</div>

<div class="week">
	<table>
			<tr>
				<td>Rd 1</td>
				<td>Rd 2</td>
				<td>Rd 3</td>
			</tr>
			<tr>
				<td><b>AJ </b>2-0 over Will</td>
				<td><b>Shane </b>2-1 over AJ</td>
				<td><b>Shane </b>2-0 over Brendon</td>
			</tr>
			<tr>
				<td><b>Shane </b>2-0 over Ben H.</td>
				<td><b>Brendon </b>2-0 over Braydon</td>
				<td><b>AJ </b>2-1 over Braydon</td>
			</tr>
			<tr>
				<td><b>Braydon </b>2-0 over Dan S.</td>
				<td><b>Dan </b>2-0 over Ben</td>
				<td><b>Will </b>2-0 over Dan S.</td>
			</tr>
			<tr>
				<td><b>Brendon </b>2-0 over Sarah</td>
				<td><b>Will </b>2-1 over Sarah</td>
				<td><b>Ben H. </b>2-1 over Sarah</td>
			</tr>
	</table>
</div>

<div class="rares">
	<table>
		<tr>
			<td>Name</td>
			<td>Rares Drafted</td>
			<td>Rares Played</td>
		</tr>
		<tr>
			<td>Will</td>
			<td>4</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Brendon</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>AJ</td>
			<td>5</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Shane</td>
			<td>5</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Ben H</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Dan</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Braydon</td>
			<td>3</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Sarah</td>
			<td>4</td>
			<td>0</td>
		</tr>
	</table>

</body>


</html>