<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
</head>


<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="">
						<a style="color:white; font-weight:700; margin-top:3px;" class="right badge badge-info" href="/">BBMPL</a>
						</li>
				</ul>
			</div>
		</div>
	</div>
</div>
		
<div style="padding:30px;"></div>

<body class="container">

<h1>BB Magic Pro League</h1>
<div class="power-rankings">
	<table class="table table-bordered table-striped">
		<tr><th>Power Rankings</th></tr>
		<tr><td>1. Shane (3-0)</td></tr>
		<tr><td>2. Brendon (2-1)</td></tr>
		<tr><td>3. AJ (2-1)</td></tr>
		<tr><td>4. Will (2-1)</td></tr>
		<tr><td>5. Brayden (1-2)</td></tr>
		<tr><td>6. Dan S. (1-2)</td></tr>
		<tr><td>7. Ben H. (1-2)</td></tr>
		<tr><td>8. Sarah (0-3)</td></tr>
	</table>
</div>

<div class="week">
	<table class="table table-bordered table-striped">
			<tr>
				<th>Rd 1</th>
				<th>Rd 2</th>
				<th>Rd 3</th>
			</tr>
			<tr>
				<td><b>AJ </b>2-0 over Will</td>
				<td><b>Shane </b>2-1 over AJ</td>
				<td><b>Shane </b>2-0 over Brendon</td>
			</tr>
			<tr>
				<td><b>Shane </b>2-0 over Ben H.</td>
				<td><b>Brendon </b>2-0 over Brayden</td>
				<td><b>AJ </b>2-1 over Brayden</td>
			</tr>
			<tr>
				<td><b>Brayden </b>2-0 over Dan S.</td>
				<td><b>Dan </b>2-0 over Ben</td>
				<td><b>Will </b>2-0 over Dan S.</td>
			</tr>
			<tr>
				<td><b>Brendon </b>2-0 over Sarah</td>
				<td><b>Will </b>2-1 over Sarah</td>
				<td><b>Ben H. </b>2-1 over Sarah</td>
			</tr>
	</table>
</div>

<div class="rares">
	<table class="table table-striped table-bordered">
		<tr>
			<th>Name</th>
			<th>Rares Drafted</th>
			<th>Rares Played</th>
		</tr>
		<tr>
			<td>Will</td>
			<td>4</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Brendon</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>AJ</td>
			<td>5</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Shane</td>
			<td>5</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Ben H</td>
			<td>2</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Dan</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Brayden</td>
			<td>3</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Sarah</td>
			<td>4</td>
			<td>0</td>
		</tr>
	</table>

</body>


</html>